<div class="row">

  <div class="col-md offset-md-2">
    <h1>Editando Mascota</h1><hr>

    <%= render 'form', pet: @pet %>

    <%= link_to 'Show', @pet, class:"btn btn-warning" %> |
    <%= link_to 'Back', pets_path , class:"btn btn-light"%>
  </div>
</div>