<div class="row">

  <div class="col-md offset-md-2">
    <h1>Nueva Mascota</h1><hr>

    <%= render 'form', pet: @pet %>

    <%= link_to 'Volver', :back, class: "btn btn-secondary ml-5" %>
  </div>
</div>
